{% extends 'index.html' %}

{% block title %}
Добавление юзера
{% endblock %}

{% block body %}
 <h4 style="font-family: Verdana">Добавление пользователя</h4>
    <div id="cent" class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
	<div class="card w-100" style="max-width: 400px;">
		<div class="card-body">
    <form method="post" enctype="multipart/form-data">
   <div class="mb-3">
					<select name="role" id="role" class="form-select custom-select">
						<option value="user" title="Пользователь">Пользователь</option>
                        <option value="manager" title="Менеджер">Менеджер</option>
                        <option value="admin" title="Администратор">Администратор</option>
					</select>
   </div>
        <div class="mb-3">
        <input type="text" name="login" id="login" class="form-control" placeholder="Логин"><br>
        <input type="text" name="password" id="password" class="form-control" placeholder="Пароль"><br>
                        <div class="d-flex flex-column align-items-center">
                   <input type="submit" class="btn btn-success w-100" value="Сохранить"><br>
                        </div>
        </div>
    </form>
		</div>
	</div>
</div>

{% endblock %}