{% extends 'index.html' %}

{% block title %}
Добавление бренда
{% endblock %}

{% block body %}
<div class="container mt-5">
 <h3 style="font-family: Verdana">Добавление бренда</h3>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Наименование бренда"><br>
        {% if error %}
            <p class="fail">{{ error }}</p>
        {% endif %}
        <input type="submit" class="btn btn-success" value="Сохранить"><br>
    </form>
</div>
{% endblock %}