{% extends 'index.html' %}

{% block title %}
Все категории
{% endblock %}

{% block body %}
<h2 style="font-family: Verdana">Категории</h2>
<div class="container mt-5">
    {% if categories.items|length > 0 %}
        {% for el in categories.items %}
                <div class="categories_info d-flex justify-content-between align-items-center">
                    <div>
                        <h3>{{ el.name }}</h3>
                        <p></p>
                    </div>
                    {% if session['role']  == 'admin' or session['role']  == 'manager' %}

                    <div class="btns">
                        <a href="/categories/{{ el.category_id }}/put" class="btn btn-success me-2">Изменить</a>
                        <a href="/categories/{{ el.category_id }}/delete" class="btn btn-danger">Удалить</a>
                    </div>
                    {% endif %}
                </div>
        {% endfor %}
    {% else %}
    <p>>В магазине нет категорий</p>
    {% endif %}
</div>

<div class="pagination-centered">
    {{ pagination.links }}
</div>
{% endblock %}