{% extends 'index.html' %}

{% block title %}
Все пользователи
{% endblock %}

{% block body %}
<h2 style="font-family: Verdana">Пользователи</h2>
<div class="container mt-5">
    {% if users.items|length > 0 %}
        {% for el in users.items %}
                <div class="users_info d-flex justify-content-between align-items-center">
                    <div>
                        <h3>{{ el.login }}</h3>
                        <p></p>
                    </div>
                    <div class="btns">
                        <a href="/users/{{ el.user_id }}/put" class="btn btn-success me-2">Изменить</a>
                        <a href="/users/{{ el.user_id }}/delete" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
        {% endfor %}
    {% else %}
    <p>В магазине единственный текущий пользователь</p>
    {% endif %}
</div>

<div class="pagination-centered">
    {{ pagination.links }}
</div>
{% endblock %}